.Venda {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.input_venda{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.output_venda{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}

.info_venda{
    display: flex;
    flex-direction: row;
}

.no_input{
    background-color: lightgray;
}