.row_button {
    color: black;
}

.plus {
    color:rgb(31, 224, 105);
}

.minus{
    color: #dbcb3a;
}

#btn-plus {
    background-color: #e1f3de;
    border: solid #e7f3ee;
}
#btn-plus:hover {
    background-color: #cadac7;
    border: solid #cdd8d3;
}

#btn-minus {
    background-color: #e1f3de;
    border: solid #e7f3ee;
}
#btn-minus:hover {
    background-color: #cadac7;
    border: solid #cdd8d3;
}
